BRIDGE_RELAY_URL=http://localhost:8787
BRIDGE_RELAY_WS=ws://localhost:8787/ws
BRIDGE_DEVICE_ID=my-windows-pc
BRIDGE_DEVICE_TOKEN=change-me
BRIDGE_MCP_TOKEN=change-me
BRIDGE_ALLOWED_ROOTS=C:\\Users\\%USERNAME%\\Documents;C:\\Users\\%USERNAME%\\Downloads
